<!DOCTYPE html>
<html>

<head>
    <title>Global Alert Component</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <style>
        .alert {
            position: absolute;
            left: 10%;
            right: 10%;
            z-index: 999;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-top: none;
            opacity: 0;
        }

        .in {
            opacity: 1;
            transition: opacity .25s ease-in;
        }

        .out {
            opacity: 0;
            transition: opacity 1s ease-out;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Logo</a>
    </nav>
    <div id="alert1" class="alert shadow"></div>

    <div class="container">
        <h1>Global Alert Component</h1>
        <p>Available options are</p>
        <ul>
            <li>Type - Bootstrap alert classes (alert-info, alert-success, etc)</li>
            <li>Message</li>
            <li>Timeout - Delay before the alert closes automatically</li>
            <li>Dismissable - Show/Hide the close button</li>
        </ul>
        <button id="button3" type="button" class="btn btn-info" onclick="triggerInfo();">Trigger Info</button>
    </div>

</body>
<script>

    var alertMessage = (function () {

        var setTimer;

        var showAlert = function (options) {

            // disable button after click
            options.triggerBtn = event.target;
            options.triggerBtn.disabled = true;

            // build message
            var message = document.createElement('span');
            message.innerText = options.message;
            document.getElementById(options.targetId).appendChild(message);

            // build close button
            if (options.dismissable) {
                var closeBtn = document.createElement('button');
                closeBtn.setAttribute('class', 'close');
                closeBtn.setAttribute('data-target', options.targetId);
                closeBtn.setAttribute('id', options.targetId + '-close');
                closeBtn.innerText = 'x';
                document.getElementById(options.targetId).appendChild(closeBtn);
                document.getElementById(options.targetId).classList.add('alert-dismissible');

                closeBtn.addEventListener('click', function () {
                    handleClose(options);
                });

            }

            document.getElementById(options.targetId).classList.add(options.type);
            document.getElementById(options.targetId).classList.add('in');

            // auto close
            setTimer = setTimeout(function () {
                handleClose(options);
            }, options.timeout);

        };

        var handleClose = function (options) {

            document.getElementById(options.targetId).classList.add('out');

            setTimeout(function () {
                document.getElementById(options.targetId).classList.remove('out');
                document.getElementById(options.targetId).classList.remove('in');
                document.getElementById(options.targetId).classList.remove(options.type);
                document.getElementById(options.targetId).innerHTML = '';
                clearTimeout(setTimer);
                options.triggerBtn.disabled = false;

            }, 1000); // delay must match css transition

            return;
        };

        var init = function (options) {
            options = options || {};
            options.targetId = options.targetId;
            options.message = options.message;
            options.type = options.type || 'alert-info';
            options.timeout = options.timeout || 10000;
            options.dismissable = options.dismissable;

            if (options.targetId) {
                showAlert(options);
            }
            else {
                console.error('No target ID provided');
            }

        };

        return {
            init: init
        };

    }());


    function triggerInfo() {

        alertMessage.init({
            targetId: 'alert1',
            type: 'alert-success',
            message: 'Just letting you know about something. Closing in 5...4...3...',
            timeout: 6000,
            dismissable: true
        });

    }

</script>

</html>