<!DOCTYPE html>
<html>

<head>
    <title></title>
    <!-- FOR PROTOTYPE ONLY -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
        integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <style>
        .logo {
            padding: 29px 0;
        }

        .tier4.navBar {
            padding: 2px 10px;
        }
    </style>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- // FOR PROTOTYPE ONLY -->


    <link rel="stylesheet" href="global-alert2.component.css">
    <script src="global-alert2.component.js"></script>

</head>

<body>

    <div class="TopMenuDiv">
        <div class="TopMenuInner">
            [Logo]
        </div>
    </div>

    <div id="alert1" class="alert fade"></div>

    <div class="SB_outerDiv"></div>
    <div class="tier4 navBar faded">
        <a href="#">Full Loaf</a> >
        <a href="#">Sliced Toast</a> >
        <a href="#">Crumbs</a>
    </div>
    <div class="tier3">
        <button id="button3" type="button" class="btn btn-info" onclick="triggerInfo();">Trigger Info</button>
        <button id="button2" type="button" class="btn btn-success" onclick="triggerSuccess();">Trigger Success</button>
        <button id="button1" type="button" class="btn btn-warning" onclick="triggerWarning();">Trigger Warning</button>
    </div>
</body>

</html>