<!DOCTYPE html>
<html>

<head>
	<title>Single-Line Tab Component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	 crossorigin="anonymous">

	<link rel="stylesheet" href="../css/tab-bar.css"/>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
	 crossorigin="anonymous"></script>
	<script type="text/javascript" src="../js/tab-bar.js"></script>

</head>

<body>
	<div class="container">
		<h1>Single-Line Tab Component</h1>
		<p>While an accordion component would provide for better UX, the requirement was for a tab bar that didn't wrap to multiple lines.
			An unknown number of tabs could be provided. This here is an example of jQuery and Bootstrap component work.</p>
		<hr/>
		
		<div class="row">
			<div class="col-xs-12 col-sm-6">

				<!-- Tab bar -->
				<ul class="nav nav-tabs tab-scroll" role="tablist">
					<li role="presentation" class="active">
						<a href="#a" aria-controls="a" role="tab" data-toggle="tab">Property Information</a>
					</li>
					<li role="presentation">
						<a href="#b" aria-controls="b" role="tab" data-toggle="tab">Property Features</a>
					</li>
					<li role="presentation">
						<a href="#c" aria-controls="c" role="tab" data-toggle="tab">Property Taxes</a>
					</li>
					<li role="presentation">
						<a href="#d" aria-controls="d" role="tab" data-toggle="tab">Schools</a>
					</li>
					<li role="presentation">
						<a href="#e" aria-controls="e" role="tab" data-toggle="tab">Neighborhoods</a>
					</li>
					<li role="presentation">
						<a href="#f" aria-controls="f" role="tab" data-toggle="tab">Demographics</a>
					</li>
					<li role="presentation">
						<a href="#g" aria-controls="g" role="tab" data-toggle="tab">Market Trends</a>
					</li>
					<li role="presentation">
						<a href="#h" aria-controls="h" role="tab" data-toggle="tab">Comparables</a>
					</li>
					<li role="presentation">
						<a href="#i" aria-controls="i" role="tab" data-toggle="tab">Property History</a>
					</li>
					<li role="presentation">
						<a href="#j" aria-controls="j" role="tab" data-toggle="tab">Additional Information</a>
					</li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="a">
						<h4>Some info</h4>
					</div>
					<div role="tabpanel" class="tab-pane" id="b">
						<h4>Some features</h4>
					</div>
					<div role="tabpanel" class="tab-pane" id="c">
						<h4>Some tax</h4>
					</div>
					<div role="tabpanel" class="tab-pane" id="d">
						<h4>Some schools</h4>
					</div>
					<div role="tabpanel" class="tab-pane" id="e">
						<h4>Some neighborhoods</h4>
					</div>
					<div role="tabpanel" class="tab-pane" id="f">
						<h4>Some demographics</h4>
					</div>
					<div role="tabpanel" class="tab-pane" id="g">
						<h4>Some trends</h4>
					</div>
					<div role="tabpanel" class="tab-pane" id="h">
						<h4>Some comparables</h4>
					</div>
					<div role="tabpanel" class="tab-pane" id="i">
						<h4>Some history</h4>
					</div>
					<div role="tabpanel" class="tab-pane" id="j">
						<h4>More info</h4>
					</div>
				</div>

			</div>
		</div>
	</div>
</body>

</html>